@import '../../style/variables.scss';

.header-container {
  background-color: $mainColor;
  padding-top: 20px;
  padding-bottom: 20px;
  .logo, h2 {
    font-size: 25px;
    color: $whiteColor
  }
  h2 {
    padding-left: 10px;
    margin: 0px;
    display: inline-block;
  }

}