@import "../../style/variables";
@import "../../style/mixins";

.home {
  #cities-container{
    .city-weather {
      position: relative;
      @include faceEffect(1s, 0, 1)
      padding: 20px;
      .remove-city {
        position: absolute;
        bottom: 25px;
        right: 25px;
        color: darken($whiteColor, 30%);
      }
      .inner-container {
        height: 420px;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.5);
        padding: 20px;
        h1, .weather-description {
          @include flexCenter();
          word-break: break-word;
        }
        h1 {
          height: 85px;
        }
        .weather-description {
          height: 40px;
        }
        .weather-temperature {
          img {
            margin-left: -15px;
            margin-right: 0px;
          }
        }
        .see-forecast{
          margin-top: 20px;
          font-size: 12px;
          color: darken($whiteColor, 30%);
          display: block;
        }
      }
      &.add-city-block {
        .inner-container {
          @include flexCenter();
          .add-city {
            display: block;
            color: $whiteColor;
            font-size: 100px;
            @include faceEffect(0.5s, 0, 1)
          }
          .add-city-form {
            display: none;
            button {
              width: 100%;
              margin-top: 10px;
            }
          }
        }
        &.form-displayed {
          .inner-container {
            .add-city {
              display: none;
            }
            .add-city-form {
              display: block;
              @include faceEffect(0.5s, 0, 1)
            }
          }
        }
      }
      &.removed {
        @include faceEffectRemove(0.5s, 1, 0);
      }
    }
  }
}