@import "../../style/variables";
@import "../../style/mixins";

.weatherCityPage {
  width:100%;
  margin: 0px;
  padding:20px 30px;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  .home-link {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: $whiteColor;
    color: $blackColor;
    z-index: 9;
    border: none;
    border-radius: 50%;
    padding: 10px 14px 8px 11px;
    text-align: center;
    opacity: 0.7;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 1;
    }
  }
  .city-background {
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    @include fadeInEffect(2s)
    &.transition {
      @include fadeOutEffect(1s)
    }
  }
}

.weather-details {
  color: $whiteColor;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 20px;
  h1 {
    margin-bottom: 30px;
  }
  .weather-description {
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 20px;
  }
  .weather-temperature {
    margin-top: 30px;
    font-size: 22px;
    img {
      height: 50px;
      margin-right: 10px;
      margin-left: -15px;
    }
    span {
      top: -18px;
      position: relative;
    }
  }
  .forecast-container {
    margin-top: 30px;
    ul {
      .forecast-element {
        padding:0px 0px 30px;
        border-top: 1px solid $greyColor;
        img, .forecast-summary, .weather-temperature, .weather-info {
          display: inline-block;
        }
        .weather-info {
          padding: 35px 20px 0px;
          img {
            width: 50px;
          }
          .forecast-summary {
            min-width: 150px;
            position: relative;
            top: -5px;
            padding: 0px 0px 0px 20px;
            .forecast-day{
              font-size: 20px;
              font-weight: bold;
            }
            .forecast-description{
              text-transform: capitalize;
              margin-top: 5px;
            }
          }
        }
        .weather-temperature {
          margin-top: 35px;
          span {
            min-width: 120px;
          }
        }
      }
    }
  }
}