@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin fadeInEffect($time) {
  animation-duration: $time;
  animation-name: fadeEffect;
  @keyframes fadeEffect {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
}

@mixin fadeOutEffect($time) {
  animation-duration: $time;
  animation-name: fadeOutEffect;
  animation-fill-mode:forwards;
  @keyframes fadeOutEffect {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
}